.container {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.deals {
  display: flex;
}