.not-logged-in {
  text-align: center;
  font-family: 'Montserrat';
}

.log-in-link {
  color: #f7436b;
  cursor: pointer;
}

.color-choice {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
